<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>LocateCar</title>
    </head>
    <body>
        <a th:href="@{/}">Voltar</a>
        <form th:action="${add} ? @{/c/} : @{/u/{clienteID}/(clienteID=${cliente.documento})}" th:object="${cliente}" th:method="${add} ? POST : PUT">
            <div>
                <h3 th:text="${add} ? 'Cadastrar Cliente' : 'Editar Cliente'"></h3>
                <div>
                    <label for="inputDocumento">Documento de identificação</label>
                    <div>
                        <input type="text" th:readonly="${add} ? 'false' : 'true'" th:field="*{documento}" id="inputDocumento">
                    </div>
                </div>
                <div>
                    <label for="inputNome">Nome</label>
                    <div>
                        <input type="text" th:field="*{nome}" id="inputNome">
                    </div>
                </div>
                <input type="submit" value="Salvar"/>
            </div>
        </form>
    </body>
</html>