<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>LocateCar</title>
    </head>
    <body>
        <a th:href="@{/}">Voltar</a>
        <form th:action="${criacao} ? @{/c/} : @{/u/{clienteID}/(clienteID=${cliente.documento})}" th:object="${cliente}" th:method="${criacao} ? POST : PUT">
            <div>
                <h3 th:text="${criacao} ? 'Cadastrar Cliente' : 'Editar Cliente'"></h3>
                <div>
                    <label for="inputDocumento">Documento de identificação</label>
                    <div>
                        <input type="text" th:readonly="${criacao} ? 'false' : 'true'" th:field="*{documento}" id="inputDocumento"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <ul>
                            <li th:each="erro : ${#fields.errors('documento')}" th:text="${erro}"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <label for="inputNome">Nome</label>
                    <div>
                        <input type="text" th:field="*{nome}" id="inputNome">
                        <ul>
                            <li th:each="erro : ${#fields.errors('nome')}" th:text="${erro}"></li>
                        </ul>
                    </div>
                </div>
                <input type="submit" value="Salvar"/>
            </div>
        </form>
    </body>
</html>