<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <title>LocateCar</title>
  </head>
  <body>
    <h1>Clientela</h1>
    <div>
      <nobr>
        <a th:href="@{/}">Voltar</a>
      </nobr>
    </div>
    <div>
      <table>
        <tr>
          <th>Documento de identificação</th>
          <th>Nome</th>
        </tr>
        <tr th:each ="cliente : ${clientela}">
          <td th:utext="${cliente.documento}"></td>
          <td th:utext="${cliente.nome}"></td>
          <td>
            <a th:href="@{/u/{clienteID}/(clienteID=${cliente.documento})}">Editar</a>
            <a th:href="@{/d/{clienteID}/(clienteID=${cliente.documento})}">Remover</a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>